@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity!.Name</span>
        <a href="/Identity/Account/Logout?returnUrl=/">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Identity/Account/Login">Login</a>
        <a href="/Identity/Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>